*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.app {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.personal-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 24px;
}

#header-personal-info {
  margin: 40px 0 0 0;
}

.education-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 24px;
  margin-bottom: 12px;
}

.experience-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 24px;
  margin-bottom: 12px;
}

.btn {
  padding: 8px;
  border: 1px black solid;
  border-radius: 6px;
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.cv-preview {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 40px 0 0 0;
  border: 2px black solid;
  padding: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  min-width: 500px;
  min-height: 70vh;
}

p#name {
  font-size: 1.8rem;
  font-weight: bold;
}

input {
  padding: 8px;
  border-radius: 6px;
}

.personal-info {
  display: flex;
  gap: 24px;
}

.info-1 {
  min-width: 200px;
}